.terminal {
    background-color: #000;
    border-top: 5px solid #000;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    border-radius: 3px;
    color: #fff;
    line-height: 1.15;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0;  
    padding: 10px 15px 10px 15px;
    text-align: left;
    white-space: pre-wrap;
}

/*
     FILE ARCHIVED ON 15:09:02 May 01, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:46:47 Mar 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.063
  exclusion.robots.policy: 0.054
  cdx.remote: 0.109
  esindex: 0.008
  LoadShardBlock: 460.835 (6)
  PetaboxLoader3.datanode: 243.485 (7)
  load_resource: 102.326
  PetaboxLoader3.resolve: 56.469
*/